/* body {
    background: #222;
    color: white;
    font-family: Arial;
    text-align: center;
}

.personagem {
    background: #333;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
} */

body {
    background-color: black;
    color: aliceblue;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.cats {
    display: flex;
}

 .container {
  display: flex;
  align-items: center; /* alinha verticalmente */
  gap: 10px; /* espaço entre imagem e texto */
 }

img {
    width: 70px;
    height: 70px;
}


